body {
    background-color: black;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.presentation {
    text-align: center;
}

h1,
h2,
h3,
button {
    color: yellow;
    background-color: black;
}

#title {
    display: flex;
    justify-content: center;
}